<!DOCTYPE html>
<html  >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WV DoT Bridge Inspection - Report</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
</head>

<body id="Header_Body" style=" background: #e6ecf0">
    <nav class="navbar navbar-light navbar-expand-md sticky-top">
        <div id="nav" class="container">
            <a class="navbar-brand" href="/">WV Bridge Inspection Tool</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <%if (userinfo) { %>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="/buffer">Photo Collection
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="/user">Logged in as
                                <%- JSON.parse(userinfo).userName %>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="/logout">Log Out</a>
                        </li>
                        <% } %>
                            <%if (!userinfo) { %>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" href="/login">Log In</a>
                                </li>
                                <% } %>
                </ul>
            </div>
        </div>
    </nav>
    <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); background: white; padding: 50px; padding-bottom: 15px; margin-left: 5%; margin-right: 5%; margin-top: 15px; margin-bottom: 15px; border-radius: 50px">
        <p id="DoT_Tag">Report Photo Collection&nbsp;</p>
        <br>
        <hr>
        <form action="/report" enctype="multipart/form-data" method="post">
        <input type="hidden" value="<%= rep[0]['reportID'] %>" name="repId">
        <input type="hidden" value="<%= photos.length %>" id="numOfItems" name="numOfItems">
        <input type="hidden" value="<%- JSON.parse(userinfo).userID %>" name="userId">
        <ul class="allElements" id="allElements" style="position: relative; padding: 0">
   
        <% for(var i = 0; i < photos.length; i++) {%>
        <li class="ui-state-default"  id="holder<%- i+1 %>" style="padding: 15px; list-style-type: none;"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
            <div  style="padding: 15px">
                <input type="hidden" id="idHolder<%- i+1 %>" value="old<%= photos[i]['photoID'] %>" name="id">
                <input type="text" placeholder="Header" name="header" style="display: inline-block; width: 85% ; margin: auto;" value="<%= photos[i]["title"] %>">                
                 <button type="button" name="<%- i+1 %>" class="btn btn-success adder" style="margin-top: 15px; width: auto; min-width:3%; display: inline-block; margin: auto;">+</button> 
                 <button type="button" name="<%- i+1 %>" class="btn btn-primary" onclick="up(this.name)" style="margin-top: 15px; width: auto; min-width:3%; display: inline-block; margin: auto;">↑</button>
                 <button type="button" name="<%- i+1 %>" class="btn btn-primary" onclick="down(this.name)" style="margin-top: 15px; width: auto; min-width:3%; display: inline-block; margin: auto;">↓</button>
                 <button type="button" id="remove<%- i+1 %>" class="btn btn-danger" onclick="rem(this.id)" style="margin-top: 15px; width: auto; min-width:3%; display: inline-block; margin: auto;">X</button>
                </div>
            <div class="container" style="padding: 0; margin: 0; margin-bottom: 15px; min-width: 100%;">
                <div class="row">
                    <div class="col-lg" style="padding: 15px ;margin: 0;">
                        <textarea name="comment" placeholder="Enter your comment here" rows="4" cols="50" style="margin-bottom: 15px;margin-right: 0px;height: 350px;width: 100%;display: inline-block;"><%= photos[i]["description"] %></textarea>
                    </div>
                    <div class="col-lg" style="padding: 15px ;margin: 0;">
                        <div class="uploader" name="<%- i+1 %>" >
                            Click here or drag here your image
                            <img id="image<%- i+1 %>" src="<%- photos[i]['location'] %>" />
                            <!-- <input class="up"  onclick="myFunction(this.name)" ondrop="myFunction(this.id)" type="file" id="filePhoto<%- i+1 %>" name="<%- i+1 %>" style="background: transperent"/> -->
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <% } %>
    </ul>
    <hr>
        <div id="buttonHolder" style="display: flex">
                <button type="submit" class="btn btn-primary" name="vote" value="buffer" style="width: 30%; display: inline-block; margin: auto;">Select Photos</button>
                <button type="submit" class="btn btn-primary" name="vote" value="save" style="width: 30%; display: inline-block; margin: auto;">Save Report</button>
                <button type="submit" class="btn btn-primary" name="vote" value="finalize" style="width: 30%; display: inline-block; margin: auto;">Finalize Report</button>
                </form>
                </div>
        </div>
    </div>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</body>

</html>
<script type="text/javascript">
    var counter = parseInt(<%- photos.length %>);
    var photoId = parseInt(<%- lastId %>) + 1;

    function up(name) {
        var wrapper = $("#holder"+name).closest('li')
        wrapper.insertBefore(wrapper.prev()).hide().show('slow');
        var elmnt = document.getElementById("holder"+name);
        elmnt.scrollIntoView({block: 'start', behavior: 'smooth' });
        };

    function down(name) {
        var wrapper = $("#holder"+name).closest('li')
        wrapper.insertAfter(wrapper.next()).hide().show('slow')
        var elmnt = document.getElementById("holder"+name);
        elmnt.scrollIntoView({block: 'start', behavior: 'smooth' });
        window.scrollBy(0, 10);
    };

    function myFunction(id){
        var num = id.replace(/\D/g,'');
        var imageLoader = document.getElementById("filePhoto"+String(num));
        imageLoader.addEventListener('change', handleImage, false);
        function handleImage(e) {
            var reader = new FileReader();
            reader.onload = function (event) {
                $('#image'+String(num)).attr('src', event.target.result);
                if($('#image'+String(num)).attr('src') != "/pictures/Empty.png" && $("#idHolder"+num).attr('value').replace(/\d+/g, "") != "newphoto"){
                var val =  $("#idHolder"+num).val();
                $("#idHolder"+num).attr('value', val+"photo");
            }
            }
            reader.readAsDataURL(e.target.files[0]);
        }
       
    }
    
    function reduceId(){
        photoId = photoId - 1;
    };

    function rem(id){
        $(document).ready( function() {
        var num = id.replace(/\D/g,'');
        var val =  $("#idHolder"+num).val();
        $("#idHolder"+num).attr('value', val+"remove");
        $('#holder'+num).hide("slow");
        });
        //document.getElementById('holder'+num).style.display = 'none';
       // $("#holder"+num).hide();
        
    };
   
    $(".allElements").on("click", ".adder", function(){
            counter++;
            $("#numOfItems").val(parseInt($("#numOfItems").val())+1);
            var place = counter;
            var el = $('<li class="ui-state-default" id="holder'+counter+'" style="padding: 15px; list-style-type: none;"><input  id="idHolder'+counter+'" type="hidden" value="new'+photoId+'" name="id"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span><div  style="padding: 15px"><input type="text" placeholder="Header" name="header" style="display: inline-block; width: 85%; margin: auto;">  <button type="button" name="'+counter+'" class="btn btn-success adder" style="margin-top: 15px; width: auto; min-width:3%; display: inline-block; margin: auto;">+</button> <button type="button" name="'+counter+'" class="btn btn-primary" onclick="up(this.name)" style="margin-top: 15px; width: auto; min-width: 3%; display: inline-block; margin: auto;">↑</button> <button type="button" name="'+counter+'" class="btn btn-primary" onclick="down(this.name)" style="margin-top: 15px; width: auto; min-width: 3%; display: inline-block; margin: auto;">↓</button> <button type="button" id="remove'+counter+'" class="btn btn-danger" onclick="rem(this.id); reduceId();" style="margin-top: 15px; width: auto; min-width: 3%; display: inline-block; margin: auto;">X</button> </div><div class="container" style="padding: 0; margin: 0; margin-bottom: 15px; min-width: 100%;"><div class="row"><div class="col-lg" style="padding: 15px ;margin: 0;"><textarea name="comment" placeholder="Enter your comment here" rows="4" cols="50" style="margin-bottom: 15px;margin-right: 0px;height: 350px;width: 100%;display: inline-block;"></textarea></div><div class="col-lg" style="padding: 15px ;margin: 0;"><div class="uploader" name="'+counter+'" >Click here or drag here your image<img id="image'+counter+'" src="/pictures/Empty.png" /><input class="up"  onclick="myFunction(this.id)" ondrop="myFunction(this.id)" type="file" id="filePhoto'+counter+'" name="'+photoId+'" style="background: transperent"/></div></div></div></div></li>')
            //$("#element").append('<input type="text" placeholder="Header" name="header" style="display: block; width: 100%; margin: auto;" required>') 
            //$(".allElements").append(el);
            var wrapper = $(this).closest('li')
            el.insertAfter(wrapper).hide().show('slow');
            photoId++;
            var elmnt = document.getElementById("holder"+counter);
            elmnt.scrollIntoView({ block: 'start',  behavior: 'smooth' });
            //$('html, body').animate({
               //scrollTop: $("#holder"+counter).offset().top
               // }, 2000);
  
        });
        /*if(counter == 0){
            removeButton.disabled = true;
            $('#remover').attr('style', "display: none; width: 40%; margin: auto;");
            $('#removeBreak').attr('style', "display: none;")
        } if(counter == 1){
            removeButton.disabled = false;
            $('#remover').attr('style', "width: 40%; display: block; margin: auto;");
            $('#removeBreak').attr('style', "")
        }
        });*/
        
       /* $("#remover").click(function () {
           $("#holder"+String(counter)).remove();         
           counter = counter - 1;           
            var removeButton = document.getElementById('remover')
        if(counter == 0){
            removeButton.disabled = true;
            $('#removeBreak').attr('style', "display: none;")
            $('#remover').attr('style', "display: none; width: 40%; margin: auto;");
        } if(counter == 1){
            removeButton.disabled = false;
            $('#removeBreak').attr('style', "")
            $('#remover').attr('style', "width: 40%; display: block; margin: auto;");
        }
        });*/
</script>