<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>userpage</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md sticky-top">
        <div id="nav" class="container">
            <a class="navbar-brand" href="#">WV Bridge Inspection Tool</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <%if (userinfo) { %>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="/user">Logged in as
                                <%- JSON.parse(userinfo).userName %>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="/logout">Log Out</a>
                        </li>
                        <% } %>
                            <%if (!userinfo) { %>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" href="/login">Log In</a>
                                </li>
                                <% } %>
                </ul>
            </div>
        </div>
    </nav>
    <div id="user" class="container">
        <div class="row">
            <div class="col-lg-3" id="info">
                <div id="profpic" class="container">
                    <img src="/assets/img/wvdotlogo.png" alt="Avatar" class="image">
                    <div class="overlay">
                        <form action="/user" enctype="multipart/form-data" method="post">
                            <input type="file" name="upload" multiple>
                            <br>
                            <input type="submit" value="Upload">
                        </form>
                    </div>
                </div>
                <p>User Name:
                    <%- JSON.parse(userinfo).userName %>
                </p>
                <p>First Name:
                    <%- JSON.parse(userinfo).firstName %>
                </p>
                <p>Last Name:
                    <%- JSON.parse(userinfo).lastName %>
                </p>
                <p>Role:
                    <%- JSON.parse(userinfo).role %>
                </p>
                <p>County:
                    <%- JSON.parse(userinfo).county %>
                </p>
                <p>Email:
                    <%- JSON.parse(userinfo).email %>
                </p>
                <p>Phone:
                    <%- JSON.parse(userinfo).phone %>
                </p>
            </div>
            <div class="col-lg-8 offset-1 offset-lg-1 offset-xl-1" id="pane">
                <div>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1">Assigned</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" role="tab" data-toggle="tab" href="#tab-2">Submitted</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel" id="tab-1">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0">Heading</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Here you will be able to see assigned reports.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="tab-2">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0">Heading</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis
                                        in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>