<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WV DoT Bridge Inspection - Userpage</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md sticky-top">
        <div id="nav" class="container">
            <a class="navbar-brand" href="/">WV Bridge Inspection Tool</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <%if (userinfo) { %>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="/buffer">Photo Collection
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="/user">Logged in as
                                <%- JSON.parse(userinfo).userName %>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="/logout">Log Out</a>
                        </li>
                        
                        <% } %>
                            <%if (!userinfo) { %>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" href="/login">Log In</a>
                                </li>
                                <% } %>
                </ul>
            </div>
        </div>
    </nav>
    <div id="user" class="container">
        <div class="row">
            <div class="col-lg-3" id="info">
                <div id="profpic" class="container">
                    <img src="<%= JSON.parse(userinfo).profPic %>" alt="/pictures/default.png" class="image">
                    <div class="overlay">
                        <form action="/user" enctype="multipart/form-data" method="post">
                            <input type="button" id="get_file" style="position: absolute" value="Select File">
                            <input type="file" id="my_file"  name="upload" >
                            <input type="submit" style="position: absolute" value="Upload">
                        </form>
                    </div>
                </div>
                <p>User Name:
                    <%- JSON.parse(userinfo).userName %>
                </p>
                <p>First Name:
                    <%- JSON.parse(userinfo).firstName %>
                </p>
                <p>Last Name:
                    <%- JSON.parse(userinfo).lastName %>
                </p>
                <p>Role:
                    <%- JSON.parse(userinfo).role %>
                </p>
                <p>County:
                    <%- JSON.parse(userinfo).county %>
                </p>
                <p>Email:
                    <%- JSON.parse(userinfo).email %>
                </p>
                <p>Phone:
                    <%- JSON.parse(userinfo).phone %>
                </p>
            </div>
            <div class="col-lg-8 offset-1 offset-lg-1 offset-xl-1" id="pane">
                <div>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1">Assigned</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" role="tab" data-toggle="tab" href="#tab-2">Submitted</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel" id="tab-1">
                            <hr>
                            <form action="/header" method="get">
                                <div class="row" style="font-size:0.75rem;">
                                    <div class="col">
                                        <table class="table table-bordered table-hover table-responsive table-sm d-table">
                                            <thead>
                                                <tr class="table-primary">
                                                    <th style="width:23%;">Name </th>
                                                    <th style="width:35%;">Location </th>
                                                    <th style="width:10%;">Date Assigned </th>
                                                    <th> </th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <% for (var j = 0; j < reports.length; j++) { %>
                                                    <% if((reports[j]["status"] == "assigned" || reports[j]["status"] == "started") && reports[j]["assignedTo"] == JSON.parse(userinfo).userID ) {%>
                                                        <tr>
                                                            <td>
                                                                <strong>
                                                                    <%-   reports[j]["name"] %>
                                                                </strong>
                                                            </td>
                                                            <td>
                                                                <strong>
                                                                    <%-   reports[j]["bridgeLocation"] %>
                                                                </strong>
                                                            </td>
                                                            <td>
                                                                <strong>
                                                                    <%-   reports[j]["dateAssigned"] %>
                                                                </strong>

                                                            </td>
                                                           
                                                            <td style="text-align: center">
                                                                <strong>
                                                                    <!--<button class="btn btn-primary" type="submit" role="button" style="width: 100%">View Report</button>-->
                                                                    <a href="/header?reportID=<%- reports[j]['reportID'] %>" id="viewReport" style="text-decoration: underline" value="View Report">View Report</a>
                                                                </strong>
                                                            </td>
                                                            

                                                        </tr>
                                                        <% } %>
                                                            <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="tab-2">
                            <hr>
                            <div class="row" style="font-size:0.75rem;">
                                <div class="col">
                                    <table class="table table-bordered table-hover table-responsive table-sm d-table">
                                        <thead>
                                            <tr class="table-primary">
                                                <th style="width:23%;">Name </th>
                                                <th style="width:35%;">Location </th>
                                                <th style="width:10%;">Date Submitted </th>
                                                <th> </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for (var j = 0; j < reports.length; j++) { %>
                                                <% if(reports[j]["status"] == "submitted" && reports[j]["assignedTo"] == JSON.parse(userinfo).userID) { %>
                                                    <tr>
                                                        <td>
                                                            <strong>
                                                            <%-   reports[j]["name"] %>
                                                            </strong>
                                                        </td>
                                                        <td>
                                                            <strong>
                                                                <%-   reports[j]["bridgeLocation"] %>
                                                            </strong>
                                                        </td>
                                                        <td>
                                                            <strong>
                                                                <%-   reports[j]["dateSubmitted"] %>
                                                            </strong>

                                                        </td>
                                                        <td style="text-align: center;">
                                                            <strong>
                                                                <a href="/submit?reportID=<%- reports[j]['reportID'] %>" id="viewReport" style="text-decoration: underline" value="View Report">View Report</a>
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                                        <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>